<!DOCTYPE html>
<html>
    <head>
        <title>Kinematics Calculator</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/request.js') }}"></script>
    </head>
    <body>
        <h1 id="pageTitle">Kinematics Calculator</h1>
        <div id="container">
        <form>
            <p>
                <label>a:</label>
                <input type="text" id="acceleration"><br>
            </p>
            <p>
                <label>x:</label>
                <input type="text" id="displacement"><br>
            </p>
            <p>
                <label>v<sub>0</sub>:</label>
                <input type="text" id="initVelocity"><br>
            </p>
            <p>
                <label>v:</label>
                <input type="text" id="velocity"><br>
            </p>
            <p>
                <label>t:</label>
                <input type="text" id="time"><br>
            </p>
        </form> 
        <button type="button" onclick="submit()">Submit</button>
        <p id="answer"></p>
        </div>
        <p class="instructions">
            <strong>How does it work?</strong>
        </p>
        <p class="instructions">
            For kinematics equations, there are five variables:
        </p>
        <p class="instructions">
            <em>acceleration, displacement, intial velocity, current velocity, time </em>
        </p>
        <p class="instructions">
            In any particular question, one of these variables will not need to be considered at all. For this variable, enter "x" (without quotes) in its corresponding field. For the variable you are trying to solve for, enter "?" (without quotes) in its corresponding field. The rest of the values should be given in problem; enter these accordingly.
        </p>
    </body>
</html>